:root {
    --dark-blue: #2c67f2;
    --light-blue: #62cff4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

#app {
    background: rgb(44, 103, 242);
    background: linear-gradient(0deg, rgba(44, 103, 242, 1) 0%, rgba(98, 207, 244, 1) 100%);
}

header {
    padding: 4rem 0 2rem 0;
    text-align: center;
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;


    form {
        padding: 4rem 0;
        text-align: center;

        label {
            display: block;
            margin: 1rem 0;
            font-size: 1.5rem;
        }

        .input-submit-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            button {
                padding: 0.5rem 1rem;
                background-color: var(--dark-blue);
                color: white;
                border: none;
                cursor: pointer;
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
            }

            input {
                padding: 0.5rem;
                border: none;
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
            }
        }
    }
}

.display-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather-display-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    .list-wrapper {

        .card {
            border: var(--dark-blue) 2px solid;
            border-radius: 2px;
            padding: 2rem;
            margin: 1rem;
            min-height: 400px;

            .card-content-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;

                .weather-icon {
                    height: 150px;
                }
            }
        }
    }
}